
<div style="display: flex; justify-content: space-around;">
    <div>
        <div>
            <h3>Lista de compras</h3>
            <form action="{% url 'ingredients_list' %}" method="POST">{% csrf_token %}
                {{form.as_p}}
                <button type="submit">Generar lista</button>
            </form>
        </div>
    </div>
    <div>
        <h1> Ingredientes a comprar </h1>
        <ul>
            {% for name, info in ingredients.items %}
                <li>{{name}}: {{info.quantity}} {{info.unit}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
