<div class="wrapper-row" style="display: flex;">
    <div class="field" 
        style="border: 1px solid red; width: 170px; height: 100px; text-align: center;"
    >
        {{day}}
    </div>

    <div class="field" style="display: flex; align-items: center; border: 1px solid red; width: 170px; height: 100px; text-align: center;">{{lunch}}</div>
    <div class="field" style="display: flex; align-items: center; border: 1px solid red; width: 170px; height: 100px; text-align: center;">{{dinner}}</div>
</div>